
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var activeprojectItem = Model.ActiveProjectItem;
    var taskStories = Model.TaskStoryList;
}



<h3>Story for @(activeprojectItem.ProjectName)</h3>

<body>
    <nav>
        @{

            <ol class="breadcrumb bg-dark">
                <li class="breadcrumb-item active">@(activeprojectItem.ProjectCreationTime)</li>
                <li class="breadcrumb-item">Project Started</li>
            </ol>

            foreach (var taskStory in taskStories)
            {
                <ol class="breadcrumb bg-dark">
                    <li class="breadcrumb-item active">@(taskStory.ActionTime)</li>
                    <li class="breadcrumb-item">Task @(taskStory.TaskName) @(taskStory.ActionType)</li>
                </ol>
                
            }

            if (activeprojectItem.ProjectCompletionTime != null)
            {
                <ol class="breadcrumb bg-dark">
                    <li class="breadcrumb-item active">@(activeprojectItem.ProjectCompletionTime)</li>
                    <li class="breadcrumb-item">Project Completed</li>
                </ol>
            }

        }

    </nav>
   


</body>
<script>

    //Only show active project
    //Filter button changes active project.
</script>